@model SGIAMTP.Models.TConcurso

@{
    ViewData["Title"] = "Delete";
}


<h3>Esta seguro, que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Concurso:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcNombreCon)
        </dd>
        <dt>
            Lugar del Concurso:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcLugarCon)
        </dd>
        <dt>
            Fecha del Concurso:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DcFechaConcurso)
        </dd>
        <dt>
            Cantidad Seriado:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IcCantidadSeri)
        </dd>
        <dt>
            Cantidad Novel:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IcCantidadNove)
        </dd>
        <dt>
            Estado de Concurso:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIecIdEstadoNavigation.VeNombreEsta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PkIcIdConcurso" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-warning" asp-action="Index">Regresar</a>
    </form>
</div>
