@model IEnumerable<SGIAMTP.Models.TConcurso>

@{
    ViewData["Title"] = "Index";
}
<section class="content-header">
    <h2>Lista de Concursos</h2>
</section>

<section>
    <div class="box box-default">
        <div class="box-body">
            <div class="row">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                Nombre Concurso
                            </th>
                            <th scope="col">
                                Lugar Concurso
                            </th>
                            <th scope="col">
                                Fecha Concurso
                            </th>
                            <th scope="col">
                                Estado Concurso
                            </th>
                            <th scope="col">
                                Opciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VcNombreCon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VcLugarCon)
                                </td>
                                <td>
                                    @Html.ValueFor(modelItem => item.DcFechaConcurso, "{0:dd/MM/yyyy}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FkIecIdEstadoNavigation.VeNombreEsta)
                                </td>
                                <td>

                                    @if (item.FkIecIdEstadoNavigation.VeNombreEsta == "Finalizado")
                                    {
                                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.PkIcIdConcurso">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.PkIcIdConcurso">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PkIcIdConcurso">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>

                                    }
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
                <div class="form-group col-md-4">
                    <a class="btn btn-success" asp-action="Create">
                        Crear Concurso
                        <span class="glyphicon glyphicon-registration-mark"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>