@model SGIAMTP.Models.TTanda

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TTanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VtDescripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VtDescripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VtDescripcion1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VtDescripcion1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItGanador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItGanador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VtTipoTanda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VtTipoTanda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItEstado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DtFechaHora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtFechaHora)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PkItCodTan" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
