@model IEnumerable<SGIAMTP.Models.TTanda>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VtDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VtDescripcion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItGanador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VtTipoTanda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFechaHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VtDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VtDescripcion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItGanador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VtTipoTanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFechaHora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkItCodTan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkItCodTan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkItCodTan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
