@model IEnumerable<SGIAMTP.Models.TUsuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VuNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuApaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuAmaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuFechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuContraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuNacademia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuFoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkItuTipoUsuarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIuCodCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIuIdEstadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VuNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuApaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuAmaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuFechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuContraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuNacademia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuFoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkItuTipoUsuarioNavigation.PkItuTipoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIuCodCategoriaNavigation.PkIcCodCat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIuIdEstadoNavigation.PkIeIdEstado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkIuDni">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkIuDni">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkIuDni">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
