@model IEnumerable<SGIAMTP.Models.TUsuario>

@{
    ViewData["Title"] = "Index";
}

    <div class="container-fluid col-xs-12 col-md-12 col-lg-12" style="font-size:16px; font-family:'Century Gothic'">

        <div class="form-group " style="margin-top:10px">
            <a asp-controller="AdministarParticipante" asp-action="Create" class="btn btn-primary">Registar Participante</a>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div>
                    <h4 class="panel-title">Lista de Usuarios</h4>
                </div>
            </div>

            <div class="panel panel-body form-group">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Nombre
                                </th>
                                <th class="text-center">
                                    Apellido Paterno
                                </th>
                                <th class="text-center">
                                    Apellido Materno
                                </th>
                                <th class="text-center">
                                    Fecha de Nacimiento
                                </th>
                                <th class="text-center">
                                    Contraseña
                                </th>
                                <th class="text-center">
                                    Genero
                                </th>
                                <th class="text-center">
                                    Academia
                                </th>
                                <th class="text-center">
                                    Foto
                                </th>
                                <th class="text-center">
                                    Tipo de Usuario
                                </th>
                                <th class="text-center">
                                    Categoria
                                </th>
                                <th class="text-center" colspan="3">Acci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VuNombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VuApaterno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VuAmaterno)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.DuFechaNacimiento)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.VuContraseña)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.VuSexo)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.VuNacademia)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.FkIuCodCategoria)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.FkItuTipoUsuarioNavigation.VtuNombreTipoUsuario)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.FkIuCodCategoriaNavigation.VcNomCategoria)
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.PkIuDni">Editar</a>
                                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PkIuDni">Detalle</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PkIuDni">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





