@*@model SGIAMTP.Models.TUsuarioModalidad*@

@{
    ViewData["Title"] = "Create";
}

<style>
    #contenedor {
        margin-top: 20px;
    }

    #temporal {
        margin-top: 10px;
    }
</style>
<br />
@*<div class="label label-info" id="temporal">
    <small class="text-right" style="font-size:10px">Mi Codigo: @ViewData["PK_IU_Dni"]- Sexo: @ViewData["Sexo"] </small>
</div>*@


<div id="contenedor" class="container-fluid" style="font-size:16px; font-family:'Century Gothic'">
    <a class="btn btn-success" onclick="javascript:openModal();">Registrar Usuarios</a>
    <a class="btn btn-danger" asp-controller="Home" asp-action="About">Volver al Menú</a>
    <br /><br />

    @*<input type="hidden" name="name" value="@ViewData["DU_FechaNacimiento"]" id="fechaModalidad" />
    <input type="hidden" name="name" value="@ViewData["PK_IU_Dni"]" id="usuarioCodigo" />
    <input id="sexoParticipante" value="@ViewData["Sexo"]" type="text" hidden />*@

    <div class="row col-xs-12 col-md-12 col-lg-12">
        <div class="col-lg-2"></div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div>
                    <h4 class="panel-title">Registro de Participantes - Gestor</h4>
                </div>
            </div>
            <div class="panel panel-body form-group">
                <div class="form-group">
                    @*<form method="post" asp-controller="TUsuarioModalidad" asp-action="Create">*@
                    <form asp-action="">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row col-xs-12 col-md-12 col-lg-12">

                            <!--Codigo de Participante - Inicio -->
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label for="usuario" class="control-label">Participante:</label>
                                <select onchange="obtenerInfoParticipante()" id="usuario" class="form-control">
                                    <option value="0">Seleccione</option>
                                </select>
                                <span class="text-danger" id="usuario_result"></span>
                                @*<input asp-for="FkIuDni" type="text" value="" id="FkIuDni" hidden />
                                <span asp-validation-for="FkIuDni" class="text-danger"></span>*@
                            </div>
                            <!--Codigo de Participante - Fin -->
                            <!--Concurso - Inicio -->
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label for="codigoConcurso" class="control-label">Concurso:</label>
                                <select onclick="javascript: validarConcurso(this.value);" class="form-control" id="codigoConcurso">
                                    <option value="0">Seleccione</option>
                                </select>
                                <span class="text-danger" id="codigoConcurso_result"></span>
                                @*<span asp-validation-for="FkIcIdConcurso" class="text-danger"></span>*@
                            </div>
                            <!--Concurso - Fin -->
                            <!--Modalidad - Inicio -->
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label class="control-label">Modalidad:</label>
                                <select id="modalidadConcurso" class="form-control" onchange="javascript: habilitar_Fase();">
                                    <option value="0">Seleccione</option>
                                </select>
                                @*<span asp-validation-for="FkImIdModalidad" class="text-danger"></span>*@
                            </div>
                            <!--Modalidad - Fin -->
                        </div>
                        <div class="row col-xs-12 col-md-12 col-lg-12">
                            <!--Fase - Inicio -->
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">

                                <label class="control-label">Fase:</label>
                                <select class="form-control" id="faseModalidad" disabled>
                                    <option value="">Seleccione</option>
                                    <option value="Eliminatorio">Eliminatorio</option>
                                    <option value="Final Uno">Final Uno</option>
                                </select>
                                @*<span asp-validation-for="IumFase" class="text-danger"></span>
                                <input asp-for="IumFase" type="text" value="" id="fase" hidden />*@
                            </div>
                            <!--Fase - Fin -->
                            <!--Pareja - Inicio -->
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label class="control-label">Pareja:</label>
                                <select disabled id="pareja" class="form-control">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                            <!--Pareja - Fin -->
                            <!--Fecha de Inscripcion - Inicio -->
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <label for="fechaIncripcion" class="control-label">Fecha de Inscripci&oacute;n:</label>
                                <input onchange="javascript: validarFecha(this.value);" class="form-control" type="date" id="fechaIncripcion" />
                                <span class="text-danger" id="fecha_result"></span>
                                @*<span asp-validation-for="DumFechaIns" class="text-danger"></span>*@
                            </div>
                            <!--Fecha de Inscripcion - Fin -->
                        </div>
                        <div class="row col-xs-12 col-md-12 col-lg-12">
                            <!--Archivo adjunto DNI - Inicio -->
                            <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                <label class="control-label">Archivo Adjunto DNI:</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon3"><i class="fa fa-cloud"></i></span>
                                    <input onchange="javascript:validarDniParticipante(this.value);" id="VmUmArchivoDni_participante" aria-describedby="basic-addon3" name="archivoDni" type="file"  class="form-control" value="a" />
                                    <span class="text-danger" id="dni_result"></span>
                                    @*<span asp-validation-for="VmUmArchivoB" class="text-danger"></span>*@
                                    <textarea id="data_VmUmArchivoDni_participante" hidden ></textarea>
                                </div>
                            </div>
                            <!--Archivo adjunto DNI - Fin -->
                            <!--Archivo adjunto Boleta de Pago - Inicio -->
                            <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                <label class="control-label">Voucher de Pago:</label>
                                <div class="input-group">

                                    <span class="input-group-addon" id="basic-addon3"><i class="fa fa-cloud"></i></span>
                                    <input onchange="javascript: validarPagoParticipante(this.value);" id="archivoPago_participante" aria-describedby="basic-addon3" name="archivoPago" type="file" class="form-control" value="a" />
                                    <span class="text-danger" id="recibo_result"></span>
                                    @*<span asp-validation-for="VmUmArchivoB" class="text-danger"></span>*@
                                    <textarea  id="recibo_archivoPago_participante" hidden ></textarea>
                                </div>
                            </div>
                            <!--Archivo adjunto Boleta de Pago - Fin -->
                        </div>

                        <div class="row col-xs-12 col-md-12 col-lg-12">
                            <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                <button type="button" value="Create" class="btn btn-primary form-control" onclick="javascript: guardarRegistroParticipante();">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <small class="text-right label label-info col-lg-2" style="font-size:15px;color:black" id="codigo_ajax"></small>
        </div>
        <div class="row">
            <small class="text-right label label-info col-lg-2" style="font-size:15px;color:black" id="nombre_ajax"></small>
        </div>
        <div class="row">
            <small class="text-right label label-info col-lg-2" style="font-size:15px;color:black" id="apaterno_ajax"></small>
        </div>
        <div class="row">
            <small class="text-right label label-info col-lg-2 text-info" style="font-size:15px;color:black" id="amaterno_ajax"></small>
        </div>
        <div class="row">
            <small class="text-right label label-info col-lg-2" style="font-size:15px;color:black" id="sexo_ajax"></small>
            <input id="sexo_pareja" hidden/>
        </div>
    </div>
</div>





<div class="modal fade bd-example-modal-lg" id="OpenModalRegistroUsuario" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Registro de Usuario - Gestor</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div>
                            <h4 class="panel-title">Registro de Usuario - Gestor</h4>
                        </div>
                    </div>

                    <div class="panel panel-body form-group">

                        <div class="form-group" id="RegistroUsuario">
                            <!--Aqui viene el formulario-->
                            <div class="form-group">
                                <form asp-action="">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row col-xs-12 col-md-12 col-lg-12">
                                        <!-- DNI - Inicio -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="identificacion" class="control-label">Documento:</label>
                                            <input value="44910167" onchange="javascript:validarIdentificacion(this.value);" maxlength="8" type="text" class="form-control" placeholder="DNI" id="identificacion" />
                                            <input type="text" value="" hidden />
                                            <span class="text-danger" id="ident_result"></span>
                                        </div>
                                        <!-- DNI - Fin -->
                                        <!-- Nombre - Inicio -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="nombre" class="control-label">Nombre:</label>
                                            <input value="Christian" onchange="javascript:validarNombre(this.value);" type="text" class="form-control" placeholder="Nombre de usuario" id="nombre" />
                                            <span class="text-danger" id="nomb_result"></span>
                                        </div>
                                        <!--- Nombre - Fin -->
                                    </div>

                                    <div class="row col-xs-12 col-md-12 col-lg-12">

                                        <!-- Apellido Paterno - Inicio -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="apaterno" class="control-label">Apellido Paterno:</label>
                                            <input value="Bacilio" onchange="javascript:validarApaterno(this.value);" type="text" class="form-control" placeholder="Apellido Paterno" id="apaterno" />
                                            <span class="text-danger" id="paterno_result"></span>
                                        </div>
                                        <!-- Apellido Paterno - Fin -->
                                        <!-- Apellido Materno - Inicio -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="amaterno" class="control-label">Apellido Materno:</label>
                                            <input value="Bacilio" onchange="javascript:validarAmaterno(this.value);" type="text" class="form-control" placeholder="Apellido Materno" id="amaterno" />
                                            <span class="text-danger" id="materno_result"></span>
                                        </div>
                                        <!-- Apellido Paterno - Fin -->
                                    </div>

                                    <div class="row col-xs-12 col-md-12 col-lg-12">
                                        <!--Fecha de Nacimiento - Inicio -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="nacimiento" class="control-label">Fecha de Nacimiento:</label>
                                            <input onchange="javascript:calcularEdadUsuario();" type="date" class="form-control pull-right" id="nacimiento" />
                                            <span class="text-danger" id="nacimiento_result"></span>
                                        </div>
                                        <!--Fecha de Nacimiento - Fin -->
                                        <!--Contraseña - Inicio -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="password" class="control-label">Contraseña:</label>
                                            <input onchange="javascript:validarPassword(this.value);" type="password" class="form-control" placeholder="Contraseña" id="password" value="123" /><br>
                                            <span class="text-danger" id="pass_result"></span>
                                        </div>
                                        <!--Contraseña - Fin -->
                                    </div>

                                    <div class="row col-xs-12 col-md-12 col-lg-12">
                                        <!--Sexo - Inicio -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="sexo" class="control-label">Sexo:</label>
                                            <select onchange="javascript:validarSexo(this.value);" id="sexo" class="form-control">
                                                <option value="" selected>Seleccione...</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                            </select>
                                            <span class="text-danger" id="sexo_result"></span>
                                        </div>
                                        <!--Sexo - Fin -->
                                        <!--Categoria - Inicio -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="categoria" class="control-label">Categoria:</label>
                                            <select id="categoria" class="form-control" disabled>
                                                <option value="0" selected>Seleccione...</option>

                                            </select>
                                            <span class="text-danger" id="categoria_result"></span>
                                        </div>
                                        <!--Sexo - Fin -->

                                    </div>

                                    <div class="row col-xs-12 col-md-12 col-lg-12">
                                        <!--Foto - Inicio -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="imagen" class="control-label">Imagen:</label>
                                            <input onchange="javascript:validarImagen(this.value);" type="file" class="form-control" placeholder="Imagen" id="imagen" value="" />
                                            <span class="text-danger" id="imagen_result"></span>
                                        </div>
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <label for="academia" class="control-label">Nombre de Academia:</label>
                                            <input onchange="javascript:validarAcademia(this.value);" type="text" class="form-control" placeholder="Nombre de Academia" id="academia" value="Academia" />
                                            <span class="text-danger" id="academia_result"></span>
                                        </div>

                                        <!--Foto - Fin -->
                                        <!--Preview - Inicio -->
                                        <!--Preview - Fin -->
                                    </div>

                                    <div class="row col-xs-12 col-md-12 col-lg-12">
                                        <!--Foto - Inicio -->
                                        @*<div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                                <label for="academia" class="control-label">Nombre de Academia:</label>
                                                <input onchange="javascript:validarAcademia(this.value);" type="text" class="form-control" placeholder="Nombre de Academia" id="academia" value="Academia" />
                                                <span class="text-danger" id="academia_result"></span>
                                            </div>*@
                                        <!--Foto - Fin -->
                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6">
                                            <textarea id="codigoFoto" hidden></textarea>
                                        </div>

                                        <div class="form-group  col-xs-6 col-md-6 col-lg-6" id="verFoto">
                                            @*<label for="imagen" class="control-label">Ver</label>
                                                <button type="button" class="btn btn-warning">ver</button>*@
                                        </div>
                                    </div>

                                    <div class="row col-xs-12 col-md-12 col-lg-12">
                                        <div class="form-group  col-xs-4 col-md-4 col-lg-4">
                                            <button type="button" value="Create" class="btn btn-primary form-control"
                                                    onclick="javascript:guardarRegistroUsuario();">
                                                Registrar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
                <p id="mensaje"></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/site.js"></script>
    <script src="~/js/Usuario.js"></script>
    <script src="~/js/UsuarioModalidad.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
