@model SGIAMTP.Models.TUsuarioModalidad

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TUsuarioModalidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IumFase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IumFase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DumFechaIns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DumFechaIns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VmUmArchivoDni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VmUmArchivoDni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VmUmArchivoB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VmUmArchivoB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIcIdConcursoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIcIdConcursoNavigation.VcLugarCon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkImIdModalidadNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkImIdModalidadNavigation.PkImIdModalidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIuDniNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIuDniNavigation.PkIuDni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIuDniParejaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIuDniParejaNavigation.PkIuDni)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkIumCodUm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
